<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281009452534-ajmv01d6fkc2brmc6ulnsau503cb6due.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281009452534-ajmv01d6fkc2brmc6ulnsau503cb6due</string>
	<key>API_KEY</key>
	<string>AIzaSyA4SUiPRWBf15j6DWcTrcdL5B7o8HfSH4M</string>
	<key>GCM_SENDER_ID</key>
	<string>281009452534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xnote.com.Xnote</string>
	<key>PROJECT_ID</key>
	<string>xnote-22065</string>
	<key>STORAGE_BUCKET</key>
	<string>xnote-22065.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281009452534:ios:144b71826dd9dae225c3d7</string>
</dict>
</plist>